.terraria-footer {
  background-image: url("/PROJECT/assets/images/ronald-van-egdom-hallow3.jpg");
  background-size: cover;
  background-position: center;
  font-size: 0rem;
  border-top: 3px solid #000000;
  letter-spacing: 0.5px;
}

.terraria-footer a {
  color: #080808;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 1.3rem;
}

.terraria-footer a:hover {
  color: #120f0a;
}

.footer-social i {
  font-size: 1.5rem;
  vertical-align: middle;
}

.footer-contact {
  font-size: 0.97rem;
  color: #ffffff;
}

.footer-copyright {
  font-size: 0.97rem;
  color: #000000;
}
