.BGnavbar {
  background-image: url("/Project/assets/images/z6654513904776_d3a9be144713156c6f69dcf856f2d345.jpg");
  background-size: cover;
  background-position: center;
  background-color: transparent !important;
}

.navbar-brand,
.nav-link,
.navbar-toggler-icon {
  color: rgb(35, 12, 244) !important;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #ab0fe8 !important;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-toggle {
  cursor: pointer;
  pointer-events: auto;
}

/* .custom-header {
  background-image: url("/Project/assets/images/BGheader.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  min-height: 300px;
  display: flex;
  align-items: center;
} */

.navbar-brand {
  color: #a827e4 !important; /* Màu tím */
  font-weight: bold;
}
/* Tùy chỉnh màu chữ navbar */
.navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
  font-size: 1.1rem;
}

/* Xóa màu vàng mặc định của Bootstrap khi link đang active */
.navbar-nav .nav-link.active {
  color: rgba(178, 16, 231, 0.986) !important;
  font-weight: bold;
  background-color: transparent !important; /* !important để ghi đè */
}
