.BGnavbar {
  background-image: url("/Project/assets/images/BGnavbar1.jpg");
  background-size: cover;
  background-position: center;
  background-color: transparent !important;
}

.navbar-brand,
.nav-link,
.navbar-toggler-icon {
  color: rgb(35, 12, 244) !important;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #ffcc00 !important;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-toggle {
  cursor: pointer;
  pointer-events: auto;
}

/* .custom-header {
  background-image: url("/Project/assets/images/BGheader.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  min-height: 300px;
  display: flex;
  align-items: center;
} */
